<header>
  <h2>Add a Post</h2>
</header>

<%= render 'form' %>
<%= form_for @post, html: { multipart: true } do |f| %>
  <p>
    <label>Picture</label></label>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </p>
<% end %>