<header>
  <h2><%= @post.title %></h2>
</header>

<%= @post.description %>
<%= @post.category %>
<%= image_tag @post.picture , class: 'img-responsive limit' %>

<div class="btn btn-primary"><%= link_to "edit post", edit_post_path %></div>
