<!DOCTYPE html>
<html>
<head>
  <title>Classifieds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Classifieds", root_path, class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
